html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Avenir;
}

body {
  margin: 15px;
}

.container {
  margin: 20px auto;
  width: 100%;
  max-width: 675px;
}

/* Link Styling */
a,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

/* Header Styling */
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me {
  width: 80%;
  max-width: 150px;
  border-radius: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 270px;
}

/* Main body of all pages */
.about,
.projects,
.blog {
  margin-top: 40px;
}

.outro {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Blog Specific Styling */

/* Project Sepecific Styling */

.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#python,
#flask,
#html,
#css,
#js,
#react,
#django,
#sql {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 3px;
  margin-right: 6px;
  font-size: 0.8em;
  opacity: 70%;
  height: 22px;
  color: white;
}

#python {
  background-color: blue;
}
#html {
  background-color: darkorange;
}
#css {
  background-color: deepskyblue;
}
#js {
  background-color: gold;
}
#flask {
  background-color: red;
}
#react {
  background-color: turquoise;
}
#django {
  background-color: limegreen;
}
#sql {
  background-color: blueviolet;
}

.project-name {
  margin-bottom: 10px;
}

.project-all-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  width: 85%;
}

@media (min-width: 700px) {
  .project-all-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-image {
    width: 225px;
  }
}
